
<div class="row">
	<div class="col-md-12">
			<script type="text/javascript">
					jQuery(document).ready(function($)
					{
						$("#complaints").dataTable({
							
						});
					});
					</script>
			<div class="panel panel-default">
				<div class="panel-heading">
					{% if lead %} {{lead.contact.name}}'s {% endif %}Complaint List
				</div>
				<div class="panel-body">
					{% if lead %}
					<table class="table table-bordered table-striped" id="complaints">
						<thead>
							<tr>
								<th>Lead</th>
								<th>Brief</th>
								<th>Date</th>
								<th>User</th>
								<th>Status</th>
								<th class="text-center">Show</th>
							</tr>
						</thead>

						
						<tbody>
							{% for complaint in lead.complaints %}
							<tr>
								<td><a href="{{path('sales_representative_contact_history', {contact:complaint.lead.contact.id})}}">{{complaint.lead.contact.name}}</a></td>
								<td>{{complaint.brief}}</td>
								<td>{{complaint.date | date('d-m-Y')}}</td>
								<td>{{complaint.userCreating.name}}</td>
								<td>{{complaint.status}}</td>
								<td class="text-center">
									<a href="{{path('complaint_show',{id:complaint.id})}}" class="btn btn-success">Show</a>
								</td>
							</tr>
							{% else %}
							{% endfor %}
							
						</tbody>
					</table>
					<div class="row">
	<div class="col-md-2 col-md-offset-9">
		<a href="{{path('complaint_new',{id:lead.id})}}"   class="btn btn-danger"> Create New Complaint</a>
	</div>
</div>
{% else %}
		<div class="row">
			<div class="col-md-11">
				This mobile number does not match any of our leads
				<a href="{{path('complaint_new_lead')}}"   class="btn btn-danger"> Create New Complaint and Lead</a>
			</div>
		</div>
{% endif %}
				</div>
			</div>
					
		
	</div>
</div>
