
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		<script type="text/javascript">
		jQuery(document).ready(function($)
		{
			$("#example-4").dataTable({
				tableTools: {
					sSwfPath: "assets/js/datatables/tabletools/copy_csv_xls_pdf.swf"
				}
			});
		});
		</script>
		<div class="panel-heading">
			<h3 class="panel-title">Results</h3>

			<div class="panel-options">
				<a href="#" data-toggle="panel">
					<span class="collapse-icon">&ndash;</span>
					<span class="expand-icon">+</span>
				</a>
				<a href="#" data-toggle="remove">
					&times;
				</a>
			</div>
		</div>

		<table class="table table-bordered table-striped" id="example-4">
			<thead>
				<tr>
					<th>Name</th>
					<th>Mobile</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for lead in leads %}
				<tr>
					{% if lead.contact.name is defined %}
						<td><a href="{{path('sales_dashboard_admin_contact_history', {contact:lead.contact.id})}}">{{lead.contact.name}}</a></td>
						<td>{{(lead.contact.mobile)}}</td>
					{% else %}
						<td></td>
						<td></td>
					{% endif %}
					<td class="text-center">
						<a href="{{path('callcenter_log_outbound_call',{'id':lead.id, 'orientation':1})}}" class="btn btn-info btn-sm">Call</a>
						<a href="javascript:void(0);" class="btn btn-warning btn-sm">SMS</a>
						<a href="javascript:void(0);" class="btn btn-danger btn-sm">EMAIL</a>
					{% if is_granted('ROLE_SALES_REPRESENTATIVE') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SALES_MANAGER') %}
						<a href="{{path('callcenter_log_outbound_call',{'id':lead.id, 'orientation':0})}}" class="btn btn-success btn-sm">Meeting</a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>