{% extends '::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{asset('assets/js/datatables/dataTables.bootstrap.css')}}">
<script type="text/javascript">
var xenonPalette = ['#68b828','#7c38bc','#0e62c7','#fcd036','#4fcdfc','#00b19d','#ff6264','#f7aa47'];
</script>
{% endblock %}

{% block page_content %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			
				<span>Campaign</span>
			</h3>
			<div class="panel-options">
				<a href="#" data-toggle="panel">
					<span class="collapse-icon">&ndash;</span>
					<span class="expand-icon">+</span>
				</a>
				<a href="#" data-toggle="remove">
					&times;
				</a>
			</div>
		</div>
		<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<script type="text/javascript">
				jQuery(document).ready(function($)
				{
					$("#example-4").dataTable({

						tableTools: {
							sSwfPath: "assets/js/datatables/tabletools/copy_csv_xls_pdf.swf"
						}
					});
				});
				</script>

				<table class="table table-bordered table-striped" id="example-4">
					<thead>
						<tr>
							<th>Name</th>
							<th>Total Leads</th>
							<th>Cost</th>
							<th>Closed Deals</th>
						</tr>
					</thead>


					<tbody>
					{% for chan in channs %}
						<tr>
							<td><a href="{{path('marketing_campaign_subchannels_report', {channel:chan.id})}}">{{chan.name}}</a></td>
							<td><a href="">{{chan.numberOfLeads}}</a></td>
							<td>{{chan.costOfChannel}}</td>
							<td>{{chan.numberClosedDeals}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
{{parent()}}

<script src="{{asset('assets/js/datatables/js/jquery.dataTables.min.js')}}"></script>


<!-- Imported scripts on this page -->
<script src="{{asset('assets/js/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js')}}"></script>
<script src="{{asset('assets/js/datatables/tabletools/dataTables.tableTools.min.js')}}"></script>

{% endblock %}