<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Flatize - Shop HTML5 Responsive Template">
	<meta name="author" content="pixelgeeklab.com">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RealEstast - HTML5 Template</title>

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

	<!-- Bootstrap -->
	<link href="{{asset('website_assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

	<!-- Libs CSS -->
	<link href="{{asset('website_assets/css/fonts/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{asset('website_assets/vendor/owl-carousel/owl.carousel.css')}}" media="screen">
	<link rel="stylesheet" href="{{asset('website_assets/vendor/owl-carousel/owl.theme.css')}}" media="screen">
	<link rel="stylesheet" href="{{asset('website_assets/vendor/flexslider/flexslider.css')}}" media="screen">
	<link rel="stylesheet" href="{{asset('website_assets/vendor/chosen/chosen.css')}}" media="screen">

	<!-- Theme -->
	<link href="{{asset('website_assets/css/theme-animate.css')}}" rel="stylesheet">
	<link href="{{asset('website_assets/css/theme-elements.css')}}" rel="stylesheet">
	<link href="{{asset('website_assets/css/theme-blog.css')}}" rel="stylesheet">
	<link href="{{asset('website_assets/css/theme-map.css')}}" rel="stylesheet">
	<link href="{{asset('website_assets/css/theme.css')}}" rel="stylesheet">
	
	<!-- Theme Responsive-->
	<link href="{{asset('website_assets/css/theme-responsive.css')}}" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="page">
		<header>
			<div id="top">
				<div class="container">
					<p class="pull-left text-note hidden-xs"><i class="fa fa-phone"></i> Need Support? 1-800-666-8888</p>
					<ul class="nav nav-pills nav-top navbar-right">
						<li class="login"><a href="javascript:void(0);"><i class="fa fa-user"></i></a></li>
						<li><a href="#" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Email"><i class="fa fa-envelope-o"></i></a></li>
						<li><a href="#" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Google+"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
			<nav class="navbar navbar-default pgl-navbar-main" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
						<a class="logo" href="index.html"><img src="{{asset('website_assets/images/logo.png')}}" alt="Flatize"></a> </div>
					
					<div class="navbar-collapse collapse width">
						<ul class="nav navbar-nav pull-right">
							<li class="{% if app.request.attributes.get('_route') == 'website_homepage' %} active {% endif %}"><a href="{{path('website_homepage')}}" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Home</a></li>
							<li class="{%if app.request.attributes.get('_route') == 'website_properties' %} active {% endif %}"><a href="{{path('website_properties')}}" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Properties</a></li>
							<li class="{%if app.request.attributes.get('_route') == 'website_about'%} active {% endif %}"><a href="{{path('website_about')}}" data-target="#" class="dropdown-toggle" data-toggle="dropdown">About</a></li>
							<li class="{%if app.request.attributes.get('_route') == 'website_contact'%} active {% endif %}"><a href="{{path('website_contact')}}">Contact Us</a></li>
							<li class="{%if app.request.attributes.get('_route') == 'website_property_sell'%} active {% endif %}"><a href="{{path('website_property_sell')}}">Sell your property</a></li>
						</ul>
					</div><!--/.nav-collapse --> 
				</div><!--/.container-fluid --> 
			</nav>
		</header>
		
		<!-- Begin Main -->
		<div role="main" class="main">
			<!-- Begin Main Slide -->
			{% block page_content %}
			    
			{% endblock %}
		</div>
		<!-- End Main -->
		
		<!-- Begin footer -->
		<footer class="pgl-footer">
			<div class="container">
				<div class="pgl-upper-foot">
					<div class="row">
						<div class="col-sm-4">
							<h2>Contact detail</h2>
							<p>Pellentesque nec erat. Aenean semper, neque non faucis. Malesuada, dui felis tempor felis, vel varius ante diam ut mauris.</p>
							<address>
								<i class="fa fa-map-marker"></i> Office : 1-800-666-8888<br>
								<i class="fa fa-phone"></i> Mobile : 0800-666-6666<br>
								<i class="fa fa-fax"></i> Fax : 1-800-666-8888<br>
								<i class="fa fa-envelope-o"></i> Mail: <a href="mailto:pixelgeklab@gmail.com">Pixelgeklab@gmail.com</a>
							</address>
						</div>
						<div class="col-sm-2">
							<h2>Useful links</h2>
							<ul class="list-unstyled">
								<li><a href="#">Help and FAQs</a></li>
								<li><a href="#">Home Price</a></li>
								<li><a href="#">Market View</a></li>
								<li><a href="#">Free Credit Report</a></li>
								<li><a href="#">Terms and Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Community Guidelines</a></li>
							</ul>
						</div>
						<div class="col-sm-2">
							<h2>Pages</h2>
							<ul class="list-unstyled">
								<li><a href="#">Font &amp; Color</a></li>
								<li><a href="#">Blogs</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">404 Page</a></li>
								<li><a href="#">Advanced Search</a></li>
								<li><a href="#">Property Custom Field</a></li>
								<li><a href="#">Google Map</a></li>
							</ul>
						</div>
						<div class="col-sm-4">
							<h2>Don’t miss out</h2>
							<p>In venenatis neque a eros laoreet eu placerat erat suscipit. Fusce cursus, erat ut scelerisque condimentum, quam odio ultrices leo.</p>
							<form class="form-inline pgl-form-newsletter" role="form">
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail2">Email address</label>
									<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email here">
								</div>
								<button type="submit" class="btn btn-submit"><i class="icons icon-submit"></i></button>
							</form>
						</div>
					</div>
				</div>
				<div class="pgl-copyrights">
					<p>Copyright © 2014 RealEstast. Designed by <a href="http://pixelgeeklab.com/">PixelGeekLab</a></p>
				</div>
			</div>
		</footer>
		<!-- End footer -->
			
	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{{asset('website_assets/vendor/jquery.min.js')}}"></script> 
	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="{{asset('website_assets/bootstrap/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('website_assets/vendor/owl-carousel/owl.carousel.js')}}"></script>
	<script src="{{asset('website_assets/vendor/flexslider/jquery.flexslider-min.js')}}"></script>
	<script src="{{asset('website_assets/vendor/chosen/chosen.jquery.min.js')}}"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
	<script src="{{asset('website_assets/vendor/gmap/gmap3.infobox.min.js')}}"></script>
	<script src="{{asset('website_assets/vendor/masonry/imagesloaded.pkgd.min.js')}}"></script>
	<script src="{{asset('website_assets/vendor/masonry/masonry.pkgd.min.js')}}"></script>
	
	<!-- Theme Initializer -->
	<script src="{{asset('website_assets/js/theme.plugins.js')}}"></script>
	<script src="{{asset('website_assets/js/theme.js')}}"></script>

	{% block javascripts %}
	{% endblock %}
	
	
</body>
</html>