{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}

{% endblock %}
{% block page_content %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Manage Teams</h3>

                <div class="panel-options">
                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <script type="text/javascript">
                jQuery(document).ready(function($)
                {
                    $("#teams").dataTable({
                        responsive:true
                    });
                    $(window).bind('resize', function () {
                        oTable.fnAdjustColumnSizing();
                    } );
                });
                </script>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{flashMessage}}
                </div>

                {% endfor %}    
                <table class="table table-bordered table-striped nowrap" width="100%"id="teams">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Leader</th>
                            <th>Size</th>
                            <th>Actions</th>
                        </tr>
                    </thead>                    
                    <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td>{{entity.name}}</td>
                            <td>{{entity.leader}}</td>
                            <td>{{(entity.users|length) + 1 }}</td>
                            <td class="text-center">
                               <a href="{{path('team_show', {id: entity.id})}}" class="btn btn-success btn-sm">Show</a>
                               <a href="{{path('team_edit', {id: entity.id})}}" class="btn btn-info btn-sm">Edit</a> 
                               
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


{% endblock %}
