{% extends '::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block page_content %}

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">New leads list</h3>

							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
						</div>
						<div class="panel-body">

							<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#databases").dataTable({});
							});
							</script>

							<table class="table table-bordered table-striped" id="databases">
								<thead>
									<tr>
										<th>Name</th>
										<th>Payment Amount</th>
										<th>Payment Date</th>
										<th>Actions</th>
									</tr>
								</thead>

								
								<tbody>
									{% for property in properties %}
									<tr>
										<td><a href="{{path('property_show', {id: property.id})}}">{{property}}</a></td>
										<td>{{property.nextPaymentAmount}}</td>
										<td>{{property.nextPayment|date('Y-m-d')}}</td>
										<td><a href="{{path('property_edit', {id: property.id})}}">Edit</a></td>
									</tr>

									{% endfor %}
									
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>

{% endblock %}

{% block javascripts %}
{{parent()}}


	<script src="{{asset('assets/js/datatables/js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('assets/js/datatables/dataTables.bootstrap.js')}}"></script>
	<script src="{{asset('assets/js/datatables/yadcf/jquery.dataTables.yadcf.js')}}"></script>
	


{% endblock %}