{% extends '::base.html.twig' %}


{% block page_content %}

	{% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}    
	<div class="row">
		<div class="col-sm-12">
			{{form_start(edit_form, {attr:{class:'form-horizontal', role:'form'}})}}
			<div class="panel panel-default">
				<div class="panel-heading">Edit Feature</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="col-md-12">
							{{form_widget(edit_form.name, {attr:{class:'form-control'}})}}
						</div>	
					</div>
					<div class="form-group">
						<div class="col-md-12">
							{{form_widget(edit_form.submit, {attr:{class:'btn btn-success pull-right'}})}}		
						</div>
					</div>
				</div>
			</div>
			{{form_end(edit_form)}}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}

	<script src="{{asset('assets/js/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{asset('assets/js/datepicker/bootstrap-datepicker.js')}}"></script>
	<script src="{{asset('assets/js/timepicker/bootstrap-timepicker.min.js')}}"></script>
	<script src="{{asset('assets/js/colorpicker/bootstrap-colorpicker.min.js')}}"></script>
	<script src="{{asset('assets/js/select2/select2.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery-ui/jquery-ui.min.js')}}"></script>
	<script src="{{asset('assets/js/selectboxit/jquery.selectBoxIt.min.js')}}"></script>
	<script src="{{asset('assets/js/tagsinput/bootstrap-tagsinput.min.js')}}"></script>
	<script src="{{asset('assets/js/typeahead.bundle.js')}}"></script>
	<script src="{{asset('assets/js/handlebars.min.js')}}"></script>
	<link rel="stylesheet" href="{{asset('assets/js/multiselect/css/multi-select.css')}}">
	<script src="{{asset('assets/js/multiselect/js/jquery.multi-select.js')}}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
