{% extends '::base.html.twig' %}

{% block page_content -%}
    <h1>Call list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Outcome</th>
                <th>Objective</th>
                <th>Orientation</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('call_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.outcome }}</td>
                <td>{{ entity.objective }}</td>
                <td>{{ entity.orientation }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('call_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('call_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('call_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
