{% extends '::base.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('assets/js/select2/select2.css')}}">
	<link rel="stylesheet" href="{{asset('assets/js/select2/select2-bootstrap.css')}}">
{% endblock %}
{% block page_data %}
	<style type="text/css">
		.gallery-image-container img {
			float: left;
			vertical-align: middle;
			text-align: center;
		}
		.clip-image{
			height:300px;
			overflow: hidden;
		}
	</style>
{% endblock %}
{% block page_content %}

	{% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}    
	<div class="row">
		<div class="col-sm-12">
			{{form_start(form, {attr:{class:'form-horizontal', role:'form'}})}}
			<div class="panel panel-default">
				<div class="panel-heading">Admin Information</div>
				<div class="panel-body">
					<div class="form-group">
						
							<label class="control-label col-md-2">Featured</label>
							<div class="col-md-4">
								{{form_widget(form.featured, {'attr': {'class' : 'iswitch iswitch-success'}})}}
							</div>
							<div id="slider" {% if not entity.featured  %}class="hidden"{% endif %}>
								<label class="col-md-2 control-label">Slider</label>
								<div class="col-md-4">
									{{form_widget(form.superFeatured, {'attr': {'class' : 'iswitch iswitch-success'}})}}
								</div>
							</div>
							<script type="text/javascript">
								$("#crm_brookerinventorybundle_property_featured").change(function(){
									if($(this).is(":checked"))
										$("#slider").removeClass("hidden")
									else
										$("#slider").addClass("hidden")
								})
							</script>

						
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Prime</i></label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.prime, {attr:{class:'iswitch iswitch-info'}})}}
							</p>
						</div>

						<label class="col-sm-2 control-label">Active</i></label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.isActive, {attr:{class:'iswitch iswitch-info'}})}}
							</p>

						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Exclusivity</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.exclusivity, {attr:{class:'form-control'}})}}
							</p>
						</div>
						<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#crm_brookerinventorybundle_property_exclusivity").selectBoxIt().on('open', function()
								{
													// Adding Custom Scrollbar
													$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
												});
							});
						</script>
						<label class="col-sm-2 control-label">Legal</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.legal, {attr:{class:'form-control'}})}}
							</p>
						</div>
						<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#crm_brookerinventorybundle_property_legal").selectBoxIt().on('open', function()
								{
													// Adding Custom Scrollbar
													$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
												});
							});
						</script>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Commercial</label>
						<div class="col-sm-4">
							{{form_widget(form.commercial, { 'attr':{ 'class':'iswitch iswitch-info'}})}}
						</div>
						<label class="col-sm-2 control-label">Broker <i>*if any</i></label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.broker, {attr:{class:'form-control'}})}}
							</p>
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#crm_brookerinventorybundle_property_broker").select2({
										placeholder: 'Select a broker',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
								});
							</script>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Links</label>
						<div class="col-sm-10">
							<p>
								{{form_widget(form.links, {attr:{class:'form-control'}})}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Property Information</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-5">Name</label>
						<div class="col-sm-10">
							{{form_widget(form.name)}}
							{{form_errors(form.name)}}	
						</div>


					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Unit #</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.unitNumber, {attr:{class:'form-control'}})}}
							</p>
						</div>
						<label class="col-sm-2 control-label">Building #</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.buildingNumber, {attr:{class:'form-control'}})}}
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Location</label>
						<div class="col-sm-4">
							<div class="date-and-time">
								{{form_widget(form.location, {'attr' :{'class':'form-control'}})}}
								<script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#crm_brookerinventorybundle_property_location").select2({
											placeholder: 'Select a location',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
									});
								</script>
							</div>
						</div>
						<label class="col-sm-2 control-label">Purpose</label>
						<div class="col-sm-4">
							{{form_widget(form.sellingType, {attr:{class:'form-control'}})}}
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#crm_brookerinventorybundle_property_sellingType").selectBoxIt().on('open', function()
									{
													// Adding Custom Scrollbar
													$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
												});
								});
							</script>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Developer</label>
						<div class="col-sm-4">
							<div class="date-and-time">
								{{form_widget(form.developer, {'attr' :{'class':'form-control'}})}}
								<script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#crm_brookerinventorybundle_property_developer").select2({
											placeholder: 'Select a developer',
											allowClear: true
										}).on('select2-open', function()
										{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
									});
								</script>
							</div>
						</div>

						<label class="col-sm-2 control-label">Phase</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.phase, {attr:{class:'form-control'}})}}
								{{form_errors(form.phase)}}	
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Project</label>
						<div class="col-sm-4">
							<div class="date-and-time">
								{{form_widget(form.project, {'attr' :{'class':'form-control'}})}}
								<script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#crm_brookerinventorybundle_property_project").select2({
											placeholder: 'Select a project',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
									});
								</script>
							</div>							
						</div>

						<label class="col-sm-2 control-label">Address</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.address, {attr:{class:'form-control'}})}}
							</p>
						</div>
						<div class="form-group">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Type</label>
						<div class="col-sm-4">
							{{form_widget(form.propertyTypeDynamic, {attr:{class:'form-control'}})}}
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#crm_brookerinventorybundle_property_propertyTypeDynamic").selectBoxIt().on('open', function()
									{
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});
								});
							</script>
						</div>
						<label class="col-sm-2 control-label">Model</label>
						<div class="col-sm-4">
							{{form_widget(form.propertyType, {attr:{class:'form-control'}})}}
							{{form_errors(form.propertyType)}}	
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-5">Property Gallery<br><span style="font-size:12px;">(1230*820)</span>
						<br><span style="font-size:12px;">First image is the thumbnail</span>
						</label>
						<div class="col-sm-10">
							{{form_widget(form.gallery)}}
						</div>
					</div>
					<script type="text/javascript">
						$("#crm_brookerinventorybundle_property_featured").change(function(){
							if($(this).is(":checked")){
								$("#onWebsite").removeClass("hidden")
							}
							else{
								$("#onWebsite").addClass("hidden")
							}
						})
						$("#crm_brookerinventorybundle_property_superFeatured").change(function(){
							if($(this).is(":checked")){
								$("#sliderImage").removeClass("hidden")
							}
							else{
								$("#sliderImage").addClass("hidden")
							}
						})
					</script>
					<div id="onWebsite" {% if not entity.featured %}class="hidden"{% endif %}>
						{# <div class="form-group ">
							<label class="col-sm-2 control-label" for="field-5">Website Title</label>
							<div class="col-sm-4">
								{{form_widget(form.websiteTitle, {attr:{class:'form-control'}})}}
							</div>
							<label class="col-sm-2 control-label" for="field-5">Website Info</label>
							<div class="col-sm-4">
								{{form_widget(form.websiteInfo, {attr:{class:'form-control'}})}}
							</div>
						</div> #}
						<div class="form-group {% if not entity.superFeatured or not entity.featured %}hidden{% endif %}" id="sliderImage" >
							<label class="col-sm-2 control-label" for="field-5">Slider Image<br><span style="font-size:12px;">(2460*1640)</span></label>
							<div class="col-sm-10 clip-image">
								{{form_widget(form.slider)}}
							</div>
						</div>
						<div class="form-group hidden">
							<label class="col-sm-2 control-label" for="field-5">Thumbnail<br><span style="font-size:12px;">(1230*820)</span></label>
							<div class="col-sm-10 clip-image">
								{{form_widget(form.thumbnail)}}
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Land Area(sqm)</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.landArea, {attr:{class:'form-control number-format '}})}}
							</p>
							{{form_errors(form.landArea)}}		
						</div>
						<label class="col-sm-2 control-label" for="field-2">Built Area(sqm)</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.buildupArea, {attr:{class:'form-control number-format '}})}}
							</p>
							{{form_errors(form.buildupArea)}}		
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-2">Garden Area</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.gardenArea, {attr:{class:'form-control  number-format'}})}}
							</p>
							{{form_errors(form.gardenArea)}}		
						</div>
						<label class="col-sm-2 control-label" for="field-2">Floors</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.floors, {attr:{class:'form-control'}})}}
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-2">Bedrooms</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.bedrooms, {attr:{class:'form-control number-format'}})}}
							</p>
						</div>
						<label class="col-sm-2 control-label" for="field-2">Bathrooms</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.bathrooms, {attr:{class:'form-control number-format'}})}}
							</p>
						</div>

					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Features (Website: Amenities) </label>
						<div class="col-sm-10">
							{{form_widget(form.features,{'attr':{'multiple':'multiple','id':'multi-select'}})}}
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#crm_brookerinventorybundle_property_features").multiSelect({
										afterInit: function()
										{
														// Add alternative scrollbar to list
														this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
													},
													afterSelect: function()
													{
														// Update scrollbar size
														this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
													}
												});
								});
							</script>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-2">Finishing</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.finishing, {attr:{class:'form-control'}})}}
							</p>

						</div>
						<label class="col-sm-2 control-label" for="field-2">Furnishing</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.furnishing, {attr:{class:'form-control'}})}}
							</p>
						</div>

					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-2">View</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.view, {attr:{class:'form-control'}})}}
							</p>
						</div>

					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-2">Delivered </label>
						<div class="col-sm-4">
							{{form_widget(form.delivered, {attr:{class:'iswitch iswitch-info'}})}}
						</div>
						<div id="deliveryDate">
							<label class="col-sm-2 control-label" for="field-2">Delivery date</label>
							<div class="col-sm-4">
								{{form_widget(form.deliveryDate, {attr:{class:'form-control datepicker', type:'text', 'data-start-view':'2'}})}}
							</div>
						</div>
					</div>
					<script type="text/javascript">
						$("#crm_brookerinventorybundle_property_delivered").change(function(){
							if($(this).is(":checked"))
								$("#deliveryDate").addClass("hidden")
							else
								$("#deliveryDate").removeClass("hidden")
						})
					</script>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-2">Notes</label>
						<div class="col-sm-10">
							<p>
								{{form_widget(form.notes, {attr:{class:'form-control'}})}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Payment Information</div>
				<div class="panel-body">
					<div id="normalPrices" class="form-group">
						<label class="col-sm-2 control-label" for="field-2">Price</label>
						<div class="col-sm-4">
							{{form_widget(form.askingPrice, {attr:{class:'form-control updateForm  number-format'}})}}
							{{form_errors(form.askingPrice)}}	
						</div>
						<label class="col-sm-2 control-label">Final Price</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.totalPrice, {attr:{class:'form-control updateForm  number-format', 'type':'number'}})}}
							</p>	
							{{form_errors(form.totalPrice)}}
						</div>
					</div>
					<div id="rentPrices" class="form-group hidden">
						<label class="col-sm-2 control-label" for="field-2">Rent Price</label>
						<div class="col-sm-4">
							{{form_widget(form.rentPrice, {attr:{class:'form-control updateForm  number-format'}})}}
							{{form_errors(form.rentPrice)}}	
						</div>
						<label class="col-sm-2 control-label">Final Rent Price</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.rentFinalPrice, {attr:{class:'form-control updateForm  number-format', 'type':'number'}})}}
							</p>	
							{{form_errors(form.rentFinalPrice)}}
						</div>
					</div>
					<div class="form-group-separator"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-2">Transfer</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.transfer, {attr:{class:'form-control updateForm  number-format'}})}}
							</p>
							{{form_errors(form.transfer)}}	
						</div>
						{# <label id="transferValue" class="col-sm-1 control-label"></label> #}
						<label class="col-sm-2 control-label" for="field-2">Maintenance</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.maintenance, {attr:{class:'form-control updateForm inputNumbers number-format number-format'}})}}
							</p>
							{{form_errors(form.maintenance)}}	
						</div>
						{# <label class="col-sm-1" id="maintenanceValue"></label> #}
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Payment Plan</label>
						<div class="col-sm-4">
							{{form_widget(form.paymentPlan)}}
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#crm_brookerinventorybundle_property_paymentPlan").select2({
										placeholder: 'Select a developer',
										allowClear: true
									}).on('select2-open', function()
									{
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
								});
							</script>
						</div>
						<div id="instalmentDetails" class="hidden">
							<label class="col-sm-2 control-label">Installments Details</label>
							<div class="col-sm-4">
								{{form_widget(form.instalments)}}
							</div>
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									var plan = $('#crm_brookerinventorybundle_property_paymentPlan').find(":selected").text();
									if(plan == "Installments")
									{
										$("#instalmentDetails").removeClass("hidden")	
									}	
									else{
										$("#instalmentDetails").addClass("hidden")	
									}
									$('#crm_brookerinventorybundle_property_paymentPlan').on('change', function (e) {
									    
									    var plan =$("option:selected", this).text();
									    console.log(plan)
										if(plan == "Installments")
										{
											$("#instalmentDetails").removeClass("hidden")	
										}
										else{
											$("#instalmentDetails").addClass("hidden")		
										}
									});
								});
							</script>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Owner Information</h3>
				</div>
				<div class="panel-body">
					<h5>Current Owner Information</h5>
					<div class="form-group">
						<label class="col-sm-2 control-label">Name</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.contactName, {attr:{class:'form-control'}})}}
							</p>
						</div>
						<label class="col-sm-2 control-label">Number</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.contactNumber, {attr:{class:'form-control'}})}}
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">E-mail</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.contactEmail, {attr:{class:'form-control'}})}}
							</p>
						</div>
						<label class="col-sm-2 control-label">Address</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.contactAddress, {attr:{class:'form-control'}})}}
							</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Last Sold Date</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.soldDate, {attr:{class:'form-control datepicker', type:'text', 'data-start-view':'2'}})}}
							</p>
						</div>
						<label class="col-sm-2 control-label">Last Sold Price</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.soldPrice, {attr:{class:'form-control'}})}}
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Eagerness To Sell</label>
						<div class="col-sm-4">
							<p>
								<span class="date-time">
									{{form_widget(form.eagerness, {attr:{class:'form-control'}})}}
								</span>
							</p>
						</div>
						<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#crm_brookerinventorybundle_property_eagerness").selectBoxIt().on('open', function()
								{
													// Adding Custom Scrollbar
													$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
												});
							});
						</script>
					</div>
					<div class="form-group-separator"></div>
					<h5>Previous Owner Information</h5>
					<div class="form-group">
						<label class="col-sm-2 control-label">Name</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.previousContactName, {attr:{class:'form-control'}})}}
							</p>
						</div>
						<label class="col-sm-2 control-label">Number</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.previousContactNumber, {attr:{class:'form-control'}})}}
							</p>
						</div>
					</div>
					<div class="form-group">

						<label class="col-sm-2 control-label">E-mail</label>
						<div class="col-sm-4">
							<p>
								{{form_widget(form.previousContactEmail, {attr:{class:'form-control'}})}}
							</p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
							{{form_widget(form.submit, {'label' : 'Update Property','attr':{'class':'btn btn-success pull-right'}})}}
						</div>
					</div>
				</div>
			</div>
			<div class="hidden">
				{{form_widget(form.type, {attr:{class:'form-control'}})}}
			</div>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script type="text/javascript">
		
		$( "#crm_brookerinventorybundle_property_sellingType" ).change(function () {
		    
		    switch ($( "#crm_brookerinventorybundle_property_sellingType option:selected" ).text())
		    {
		    	case "Sale":
		    	$("#rentPrices").addClass('hidden');
		    	$("#normalPrices").removeClass('hidden');
		    	break;

		    	case "Rent":
		    	$("#rentPrices").removeClass('hidden');
		    	$("#normalPrices").addClass('hidden');
		    	break;

		    	case "Both":
		    	$("#rentPrices").removeClass('hidden');
		    	$("#normalPrices").removeClass('hidden');
		    	break;

		    }
		  })
		  .change();
	</script>

	<script src="{{asset('assets/js/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{asset('assets/js/datepicker/bootstrap-datepicker.js')}}"></script>
	<script src="{{asset('assets/js/timepicker/bootstrap-timepicker.min.js')}}"></script>
	<script src="{{asset('assets/js/colorpicker/bootstrap-colorpicker.min.js')}}"></script>
	<script src="{{asset('assets/js/select2/select2.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery-ui/jquery-ui.min.js')}}"></script>
	<script src="{{asset('assets/js/selectboxit/jquery.selectBoxIt.min.js')}}"></script>
	<script src="{{asset('assets/js/tagsinput/bootstrap-tagsinput.min.js')}}"></script>
	<script src="{{asset('assets/js/typeahead.bundle.js')}}"></script>
	<script src="{{asset('assets/js/handlebars.min.js')}}"></script>
	<link rel="stylesheet" href="{{asset('assets/js/multiselect/css/multi-select.css')}}">
	<script src="{{asset('assets/js/multiselect/js/jquery.multi-select.js')}}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
